[Unit]
Description=webmon web system monitor
After=network.target

[Service]
Type=simple
Environment="WEBMON_OPTS=-H 127.0.0.1 -p 61080 -w 2"
EnvironmentFile=-/etc/default/webmon
EnvironmentFile=-/etc/sysconfig/webmon
ExecStart=/usr/bin/webmon $WEBMON_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
